VITE_SUPABASE_URL=https://duzywlcczrlhqdaclwtz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1enl3bGNjenJsaHFkYWNsd3R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2ODI0MjQsImV4cCI6MjA5MjI1ODQyNH0.JdeR2Np5AEhww03jGQnWLdM9qXSiAkeLHXgnC1WVRwE
